
$OpenSans:'Open Sans', sans-serif;
$PlayBall: 'Playball', cursive;

@mixin PaddingMargin {
  padding: 10px;
  margin: 10px;
}
@mixin FontFamilyOpen {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.TituloInformacion{
    display: flex;
    justify-content: center;
    font-size:4em;;
    padding: 15px;
    margin: 15px;
    @include FontFamilyOpen();
  }
  .GridInformacion{
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 10px;
    margin: 20px;
  }
  .GridTextoCoccion{
    display: flex;
    justify-content: center;
    flex-direction:column;
    @include PaddingMargin();
  }
  .TextoCoccion{
    padding: 5px;
    margin: 10px;
    font-size: 1.6em;
    @include FontFamilyOpen();
  }
  .GridFotoCoccion{
    display:inline-block;
    @include PaddingMargin();
    border-radius: 10px;
    border: black solid;
  }
  .FotoCoccion{
    border-radius: 10px;
    width:100%;
    height:100%;
  }