
$ColorRed:rgb(143, 27, 27);
$ColorInst: #C13584;
$ColorFace: #1877f2;
$ColorWhats: #25d366;

$OpenSans:'Open Sans', sans-serif;
$PlayBall:'Playball', cursive;

@mixin PaddingMargin {
    padding: 10px;
    margin: 10px;
}
@mixin FontFamilyOpen {
    color: white;
    font-family: 'Open Sans', sans-serif;
}
@mixin FontFamilyPlay {
    color: white;
    font-family: 'Playball', cursive;
}

@media only screen and (max-width:1200px){

  .GridGustos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .GridInformacion{
    display:grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .TextoCoccion{
    padding: 5px;
    margin: 10px;
    font-size: 1.5em;
    @include FontFamilyOpen();
  }
  .PromoFiestas{
    padding: 5px;
    margin: 10px;
    @include FontFamilyOpen();
  }
  .EmpanadasClasicasEspeciales{
    padding: 5px;
    margin: 10px;
    font-size: 2em;
    @include FontFamilyOpen();
  }
  .TextoPromoFiestas{
    padding: 5px;
    margin: 10px;
    font-size: 1.6em;
    @include FontFamilyOpen();
  }
}

@media only screen and (max-width:992px){
  .logo{
    margin-left: 0px;
  }
  .nav{
    display: flex;
    justify-content:center;
    margin-right: 0px;
  }
  .GridGustos{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
  }
  .GridInformacion{
    display:grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .TextoCoccion{
    padding: 5px;
    margin: 10px;
    font-size: 1.4em;
    @include FontFamilyOpen();
  }
  .GridDelivery{
    display:grid;
    grid-template-columns: repeat(1, 2fr);
    padding: 10px;
    margin: 20px;
  }
  .PromoFiestas{
    padding: 5px;
    margin: 10px;
    @include FontFamilyOpen();
  }
  .EmpanadasClasicasEspeciales{
    padding: 5px;
    margin: 10px;
    font-size: 1.8em;
    @include FontFamilyOpen();
  }
  .TextoPromoFiestas{
    padding: 5px;
    margin: 10px;
    font-size: 1.6em;
    @include FontFamilyOpen();
  }
}

@media only screen and (max-width:800px){

    .nav{
      display: flex;
      justify-content:center;
      margin-right: 0px;
    }
    .GridGustos{
      display: grid;
      grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(2,1fr);
    }
    .GridInformacion{
      display:grid;
        grid-template-columns: repeat(1, 2fr);
    }
    .TextoCoccion{
      padding: 5px;
      margin: 10px;
      font-size: 1.4em;
      @include FontFamilyOpen();
    }
    .GridDelivery{
      display:grid;
      grid-template-columns: repeat(1, 2fr);
      padding: 10px;
      margin: 20px;
    }
    .GridPreciosPromos{
      padding: 10px;
      margin: 20px;
    }
    .PromoFiestas{
      padding: 5px;
      margin: 10px;
      @include FontFamilyOpen();
    }
    .TextoPromoFiestas{
      padding: 5px;
      margin: 10px;
      font-size: 1.4em;
      @include FontFamilyOpen();
    }
  }
  
  @media only screen and (max-width:651px){
  
    .nav{
      display: flex;
      justify-content:center;
      margin-right: 0px;
    }
    .footer{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows:repeat(3, 1fr) ;
      grid-gap: 30px;
      justify-items: center;
      @include PaddingMargin();
    }
    .FooterLogo{
      display: grid;
      grid-column: 1 / 4;
      grid-row: 1 / 3;
    }
    .FooterCopy{
      display: grid;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      align-items: center;
    }
    .copy{
      margin-top: 15px;
      margin-left: 15px;
    }
    .FooterInstagram{
      display: grid;
      grid-column: 1 / 2;
      grid-row: 3 / 3;
      align-items: center;
    }
    .FooterFacebook{
      display: grid;
      grid-column: 2/ 2;
      grid-row: 3 / 3;
      align-items: center;
    }
    .FooterWhatsapp{
      display: grid;
      grid-column: 3 / 4;
      grid-row: 3 / 3;
      align-items: center;
    }
    .GridGustos{
      display: grid;
      grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(1,1fr);
    }
    .GridInformacion{
      display:grid;
      grid-template-columns: repeat(1, 2fr);
    }
    .TextoCoccion{
      padding: 5px;
      margin: 10px;
      font-size: 1.2em;
      @include FontFamilyOpen();
    }
    .GridDelivery{
      display:grid;
      grid-template-columns: repeat(1, 2fr);
      padding: 10px;
      margin: 20px;
    }
    .GridPreciosPromos{
      padding: 10px;
      margin: 20px;
    }
    .CuadradoPromoIzquierda{
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      @include PaddingMargin();
    }
    .CuadradoPromoDerecha{
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      @include PaddingMargin();
    }
    .PromoFiestas{
      padding: 5px;
      margin: 10px;
      @include FontFamilyOpen();
    }
    .EmpanadasClasicasEspeciales{
      padding: 5px;
      margin: 10px;
      font-size: 1.4em;
      @include FontFamilyOpen();
    }
    .TextoPromoFiestas{
      padding: 5px;
      margin: 10px;
      @include FontFamilyOpen();
      font-size: 1.2em;
    }
  }
  
  @media only screen and (max-width:425px){
  
    .nav{
      display: flex;
      justify-content:center;
      margin-right: 0px;
    }
    .footer{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows:repeat(3, 1fr) ;
      grid-gap: 20px;
      justify-items: center;
      @include PaddingMargin();
    }
    .Titulos{
      display: flex;
      justify-content: center;
      font-size:4em;;
      padding: 15px;
      margin: 15px;
      margin-left: 25px;
      @include FontFamilyPlay();
    }
    .GridGustos{
      display: grid;
      grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(1,1fr);
    }
    .GridInformacion{
      display:grid;
      grid-template-columns: repeat(1, 2fr);
    }
    .TextoCoccion{
      padding: 5px;
      margin: 10px;
      font-size: 1em;
      @include FontFamilyOpen();
    }
    .TituloDelivery{
      display: flex;
      justify-content: center;
      font-size:4em;;
      padding: 15px;
      margin: 15px;
      margin-left: 25px ;
      @include FontFamilyPlay();
    }
    .GridDelivery{
      display:grid;
      grid-template-columns: repeat(1, 2fr);
      padding: 10px;
      margin: 5px;
    }
    .GridPreciosPromos{
      padding: 10px;
      margin: 20px;
    }
    .CuadradoPromoFiestas{
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
      @include PaddingMargin();
    }
    .CuadradoPromoIzquierda{
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      display: flex;
      align-items: flex-start;
      padding: 5px;
      margin: 10px;
      @include FontFamilyOpen();
    }
    .CuadradoPromoDerecha{
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      display: flex;
      align-items: flex-start;
      padding: 5px;
      margin: 10px;
      @include FontFamilyOpen();
     
    }
    .PromoFiestas{
      padding: 5px;
      margin: 10px;
      @include FontFamilyOpen();
    }
    .EmpanadasClasicasEspeciales{
      padding: 5px;
      margin: 10px;
      font-size: 1.2em;
      @include FontFamilyOpen();
    }
    .TextoPromoFiestas{
      padding: 5px;
      margin: 10px;
      font-size: 1em;
      @include FontFamilyOpen();
    }
  }