.logo {
  margin-left: 10%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 5%;
  background-color: white;
}

.NavEnlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  font-weight: normal;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 5px;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.NavEnlaces:hover {
  background-color: #8f1b1b;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
  list-style: none;
  text-decoration: none;
}

.NavEnlaces.active {
  color: white;
  background-color: #8f1b1b;
}

.NavFixed {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: white;
}

#SectionInicio {
  padding-top: 1px;
  margin-top: 86px;
}

.FotoInicio {
  width: 100%;
  height: 50%;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5fr)[6];
      grid-template-columns: repeat(6, 5fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
}

.FooterLogo {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.FooterCopy {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  font-size: 1em;
}

.FooterInstagram {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FooterLogoInstagram {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.FooterLogoInstagram:hover {
  background: #C13584;
}

.FooterFacebook {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FooterLogoFacebook {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.FooterLogoFacebook:hover {
  background: #1877f2;
}

.FooterWhatsapp {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FooterLogoWhatsapp {
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.FooterLogoWhatsapp:hover {
  background: #25d366;
}

.FooterLogoColor {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.FooterLogoColor:hover {
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.section {
  padding-top: 1px;
  padding-bottom: 10px;
  margin-top: 86px;
  background-color: #8f1b1b;
}

.Titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
  padding: 15px;
  margin: 15px;
  color: white;
  font-family: 'Playball', cursive;
}

.GridGustos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 15px;
  padding: 20px;
  margin: 20px;
}

.TituloGusto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  margin: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.CuadradoEmpanada {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
  border-radius: 10px;
}

.CuadradoEmpanada:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.FotosEmpanada {
  border-radius: 10px;
  width: 100%;
}

.TituloInformacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
  padding: 15px;
  margin: 15px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.GridInformacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  padding: 10px;
  margin: 20px;
}

.GridTextoCoccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.TextoCoccion {
  padding: 5px;
  margin: 10px;
  font-size: 1.6em;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.GridFotoCoccion {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: black solid;
}

.FotoCoccion {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.TituloDelivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
  padding: 15px;
  margin: 15px;
  color: white;
  font-family: 'Playball', cursive;
}

.GridDelivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  padding: 10px;
  margin: 20px;
  margin-right: 22px;
}

.GridPreciosPromos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 20px;
}

.CuadradoPromoFiestas {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.PromoFiestas {
  padding: 5px;
  margin: 10px;
  font-size: 2.5em;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.CuadradoPromoIzquierda {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

.CuadradoPromoDerecha {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}

.EmpanadasClasicasEspeciales {
  padding: 5px;
  margin: 10px;
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.TextoPromoFiestas {
  padding: 5px;
  margin: 10px;
  font-size: 1.6em;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.GridFotoPromoFiestas {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: black solid;
}

.FotoPromoFiestas {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.GridTextoDelivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.TextoDelivery {
  padding: 5px;
  margin: 10px;
  font-size: 1.6em;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.GridFotoMaps {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: black solid;
}

.FotoMaps {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.TituloContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
  padding: 15px;
  margin: 15px;
  color: white;
  font-family: 'Playball', cursive;
}

.GridContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
      grid-template-columns: repeat(2, 2fr);
  -ms-grid-rows: (2fr)[3];
      grid-template-rows: repeat(3, 2fr);
  padding: 10px;
  margin: 20px;
}

.CuadradoTextoRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.TextoWhatsappContacto {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.TextoWhatsappContacto:hover {
  color: #25d366;
}

.TextoFacebookContacto {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.TextoFacebookContacto:hover {
  color: #1877f2;
}

.TextoInstagramContacto {
  font-size: 2em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.TextoInstagramContacto:hover {
  color: #C13584;
}

.CuadradoLogoWhatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.CuadradoLogoFacebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.CuadradoLogoInstagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.LogoWhatsappContacto {
  width: 50px;
  height: 50px;
  background-color: black;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.LogoWhatsappContacto:hover {
  background: #25d366;
}

.LogoFacebookContacto {
  width: 50px;
  height: 50px;
  background-color: black;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.LogoFacebookContacto:hover {
  background: #1877f2;
}

.LogoInstagramContacto {
  width: 50px;
  height: 50px;
  background-color: black;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.LogoInstagramContacto:hover {
  background: #C13584;
}

.LogoColor {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.LogoColor:hover {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.d-print-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
  padding: 15px;
  margin: 15px;
  color: white;
  font-family: 'Playball', cursive;
}

.FormularioExterior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.FormularioInterior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

.FormularioSubTitulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  margin: 5px;
  font-size: 1em;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.FormularioRellenar {
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.FormulariooEnviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .GridGustos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .GridInformacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
  .TextoCoccion {
    padding: 5px;
    margin: 10px;
    font-size: 1.5em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .PromoFiestas {
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .EmpanadasClasicasEspeciales {
    padding: 5px;
    margin: 10px;
    font-size: 2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .TextoPromoFiestas {
    padding: 5px;
    margin: 10px;
    font-size: 1.6em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
}

@media only screen and (max-width: 992px) {
  .logo {
    margin-left: 0px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  .GridGustos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .GridInformacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
  .TextoCoccion {
    padding: 5px;
    margin: 10px;
    font-size: 1.4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .GridDelivery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
    padding: 10px;
    margin: 20px;
  }
  .PromoFiestas {
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .EmpanadasClasicasEspeciales {
    padding: 5px;
    margin: 10px;
    font-size: 1.8em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .TextoPromoFiestas {
    padding: 5px;
    margin: 10px;
    font-size: 1.6em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
}

@media only screen and (max-width: 800px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  .GridGustos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .GridInformacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
  }
  .TextoCoccion {
    padding: 5px;
    margin: 10px;
    font-size: 1.4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .GridDelivery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
    padding: 10px;
    margin: 20px;
  }
  .GridPreciosPromos {
    padding: 10px;
    margin: 20px;
  }
  .PromoFiestas {
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .TextoPromoFiestas {
    padding: 5px;
    margin: 10px;
    font-size: 1.4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
}

@media only screen and (max-width: 651px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
    padding: 10px;
    margin: 10px;
  }
  .FooterLogo {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .FooterCopy {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copy {
    margin-top: 15px;
    margin-left: 15px;
  }
  .FooterInstagram {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .FooterFacebook {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 2;
    grid-column: 2/ 2;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .FooterWhatsapp {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 3;
    grid-row: 3 / 3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .GridGustos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .GridInformacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
  }
  .TextoCoccion {
    padding: 5px;
    margin: 10px;
    font-size: 1.2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .GridDelivery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
    padding: 10px;
    margin: 20px;
  }
  .GridPreciosPromos {
    padding: 10px;
    margin: 20px;
  }
  .CuadradoPromoIzquierda {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
  }
  .CuadradoPromoDerecha {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
  }
  .PromoFiestas {
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .EmpanadasClasicasEspeciales {
    padding: 5px;
    margin: 10px;
    font-size: 1.4em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .TextoPromoFiestas {
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 425px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
  }
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    padding: 10px;
    margin: 10px;
  }
  .Titulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 4em;
    padding: 15px;
    margin: 15px;
    margin-left: 25px;
    color: white;
    font-family: 'Playball', cursive;
  }
  .GridGustos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .GridInformacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
  }
  .TextoCoccion {
    padding: 5px;
    margin: 10px;
    font-size: 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .TituloDelivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 4em;
    padding: 15px;
    margin: 15px;
    margin-left: 25px;
    color: white;
    font-family: 'Playball', cursive;
  }
  .GridDelivery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[1];
        grid-template-columns: repeat(1, 2fr);
    padding: 10px;
    margin: 5px;
  }
  .GridPreciosPromos {
    padding: 10px;
    margin: 20px;
  }
  .CuadradoPromoFiestas {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    margin: 10px;
  }
  .CuadradoPromoIzquierda {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .CuadradoPromoDerecha {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .PromoFiestas {
    padding: 5px;
    margin: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .EmpanadasClasicasEspeciales {
    padding: 5px;
    margin: 10px;
    font-size: 1.2em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  .TextoPromoFiestas {
    padding: 5px;
    margin: 10px;
    font-size: 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */