
*{
    margin: 0;
    padding: 0;
    }
    .body{
      background: linear-gradient (to botton, white, red);
    }
  
    .content{
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
  .header,.nav,.section,.footer {
  padding: 20px;
    }
    .header{
      flex-basis: 60px;
    }
    .nav{
      flex-basis: 300px;
      flex-grow: 2;
      flex-shrink: 0;
    }
    .section{
      flex-basis: 200px;
      flex-grow: 1;
      flex-shrink: 0;
    }
    .footer{
      flex-grow: 1;
    }
    @media screen and (min-width: 340px){  
    .content{
        display: grid;
        grid-template-rows: 100px 1fr 5fr 1fr 1fr 100px;
        grid-template-columns: repeat(3,1fr);
     }
     .header{
      grid-column: 1 / span 1;
    }
    .nav{
      grid-column: 2 / span 4;
    }
    .section{
      grid-column: 1 / span 4;
      grid-row: 2 / span 4;
      width: 100%;
    }
    .footer{
      grid-row: 6 / 7;
      grid-column: 1 / span 3;
    }
    h1 {
      font-style:italic;
      font-size:3em; 
      font-weight:bold;
      margin:0.2em;
      padding:0.2em;
      color:rgb(143, 27, 27);
    }
    nav div{
      list-style-type: style none;
      display:inline; 
      justify-content: flex-end;
      padding: 4px;
      margin: 4px;
      border:rgb(143, 27, 27) 1px solid ;
    
    } 
    .hijo{
      font-size:1em;
      font-weight:normal;
      flex-direction: row;
      justify-content: center;
      font-family: 'Open Sans', sans-serif;
      text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
      color: rgb(143, 27, 27);
    }
    }
    .empanada{
      display: inline-block;
      padding: 10px;
      margin: 10px;
      border: 10px solid rgb(143, 27, 27);
      font-family: 'Open Sans', sans-serif;
      flex-direction: row;
    }
    .jamon{
      color: rgb(166, 162, 56)
    }
    .carne{
      color:  rgb(122, 94, 37);
    }
  
  
  
  @media screen and (min-width: 900px){
  .content{
  display: grid;
  grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(2,1fr);
  }
  .header{
    grid-column: 1 / span 1;
  }
  .nav{
    grid-column: 2 / span 4;
  }
  .section{
    grid-row: 2/ span 1;
    background-color: rgb(143, 27, 27);
  }
  .footer{
    grid-row: 6 / 7;
  }
  h1 {
    font-style:italic;
    font-size:3em; 
    font-weight:bold;
    animation-duration: 2s;
    animation-name:aparecer;
    margin:0.2em;
    padding:0.2em;
    color:rgb(143, 27, 27);
  }
  @keyframes aparecer {
    0%{
     opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .nav{
    display: flex;
    padding-left: 0; 
    margin-bottom: 0; 
    list-style: none; 
    justify-content: space-around;
    align-items: center;
  }
  }
  nav div{
    list-style-type: style none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 4px;
    margin: 4px;
    border:rgb(143, 27, 27) 1px solid;
    background-color: red;
  } 
  .hijo{
    font-size:1em;
    font-weight:normal;
    font-family: 'Open Sans', sans-serif;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    color: rgb(143, 27, 27);
  }
  h2{
    padding: 10px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(143, 27, 27);
  }
  .empanada{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 10px solid rgb(143, 27, 27);
    font-family: 'Open Sans', sans-serif;
    flex-direction: row;
  }
  .jamon{
    color: rgb(166, 162, 56)
  }
  .carne{
    color:  rgb(122, 94, 37);
  }
  .coccion{
    transition: height 1s, width 1s;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    color:rgb(143, 27, 27);
  }
  .coccion:hover{
    width: 100px;
    height: 50px;
    background-color: black;
  }
  p{
    font-family: 'Open Sans', sans-serif;
  }
  
  ol{
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: black;
    background: linear-gradient(to right rgb(143, 27, 27), rgb(0, 0, 0);
  }